.cart-container {
    max-width: calc(var(--container-max) - 350px);
    margin: 18px auto;
    padding: 0 20px 40px;
    display: grid;
}

@media (max-width:900px) {
    .cart-container {
        padding: 0 16px
    }
}

.cart-items {
    display: grid;
    gap: 18px;

}

.cart-item {
    display: flex;
    gap: 12px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: var(--shadow);
}

.cart-item-left {
    display: flex;
    gap: 12px;

}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    background: linear-gradient(135deg, #f3f4f6, #fff);
}

.cart-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart-item-info {
    margin-bottom: .5rem;
    display: flex;
    height: auto;
    justify-content: space-between;
    text-align: left;
}

.cart-item-info-name {
    max-width: 70%;
    text-align: left;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    line-height: 18px;
    --tw-text-opacity: 1;
    color: rgb(16 24 40 / var(--tw-text-opacity));
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart-item-info-price {
    display: flex;
    flex-direction: column;
}

.cart-item-info-other {
    font-size: .875rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.cart-item-quantity {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.cart-item-quantity-btn {
    display: flex;
    height: 28px;
    max-width: 88px;
    align-items: center;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(231 234 238 / var(--tw-border-opacity));

}

.minus-btn {
    display: flex;
    height: 28px;
    width: 29px;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    line-height: 1rem;
    font-size: 17px;
    font-weight: 600;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.add-btn {
    display: flex;
    height: 28px;
    width: 29px;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    line-height: 1rem;
    font-size: 17px;
    font-weight: 600;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.no-spinners {
    /* -moz-appearance: textfield; */
    height: 28px;
    width: 28px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(231 234 238 / var(--tw-border-opacity));
    text-align: center;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(16 24 40 / var(--tw-text-opacity));
}

.cart-item-quantity-remove {
    margin-right: 1rem;
    text-align: right;
    font-weight: 400;
    line-height: 1.25rem;
    color: #6e6e6e;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-item-quantity-remove:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-summary {
    margin-top: 24px;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: var(--shadow);
    max-width: 400px;
    margin-left: auto;
}   